/* Required height of parents of the Full Page Carousel for proper displaying carousel itself */
html,
body,
.view {
  height: 100%; }

/* Full Page Carousel itself*/
.carousel {
  height: 100%; }
  .carousel .carousel-inner {
    height: 100%; }
    .carousel .carousel-inner .carousel-item,
    .carousel .carousel-inner .active {
      height: 100%; }

/* Navbar animation */
.navbar {
  background-color: rgba(0, 0, 0, 0.2); }

.top-nav-collapse {
  background-color: #1C2331; }

/* Adding color to the Navbar on mobile */
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #1C2331; } }

/* Footer color for sake of consistency with Navbar */
.page-footer {
  background-color: #1C2331; }


.logo {
    vertical-align: middle;
    border-style: none;
    width: 60px;
}

p.grey-text {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

p.content-post {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.card .card-body .card-text {
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;

}


.card-title {
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;

}

.card {
    margin-bottom: 10px;
}

.view-all {
    margin: 10px;
    text-align: right;
}

.row .single {
    min-height: 500px;
}

.img-content {
    max-width: 75%;
    height: auto;
}

.view {
    height: auto;
}

.contact-us {
    text-align: center;
}

ิ.banner {
    height: 390px;
}

.voyager .panel.panel-default{
    margin: 10px;
}

.dashboard-header h4{
    display: inline-block;
    margin-top: 10px !important;
}


.dashboard-header a{
    float: right;
    margin-top: 0;
}
