.card-img-top{
	-webkit-transition: 0.4s ease;
	transition: 0.4s ease;
	object-fit: cover;
	width: 100%;
	border-top-left-radius: calc(.25rem - 1px);
	border-top-right-radius: calc(.25rem - 1px);
	border-bottom-left-radius: calc(.25rem - 1px);
	border-bottom-right-radius: calc(.25rem - 1px);
}
.portfolio{
	height: 180px;
}
img.customers {
    max-height: 130px;
}